.calendar {
  display: flex;
  border: 1px solid black;
  width: fit-content;
  align-items: flex-start;

  &-arrows {
    width: 16px;
    margin: 20px 10px;
  }

  &-single {
    padding: 10px;
  }

  &-header {
    text-align: center;
  }

  &-weekdays {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & p {
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }

  &-day {
    border: 2px solid transparent;
    &_unactive {
      color: grey;
    }
    &:hover {
      border: 2px solid blue;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &-days {
    display: grid;
    grid-template-columns: repeat(7, 28px);
    text-align: center;
    list-style: none;
    padding: 0;
  }
}

.departureDate-active {
  background-color: blue;
  color: white;
  border-radius: 50%;
}

.arrivalDate-active {
  border: 2px solid blue;
  border-radius: 50%;
  cursor: pointer;
}

.inbetweenDate {
  background-color: #e8f0fe;
}
