.calendar {
  display: flex;

  border: 1px solid black;
  width: fit-content;

  &-single {
    padding: 10px;
  }

  &-header {
    text-align: center;
  }

  &-weekdays {
    display: flex;

    & p {
      padding-right: 16px;
    }
  }

  &-day {
    &:hover {
      border: 2px solid blue;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &-days {
    display: grid;
    grid-template-columns: repeat(7, 28px);
    text-align: center;
  }
}
