@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;700&display=swap");
h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

a,
p,
button {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
}
.btn-blue {
  background-color: #0839bc;
  border-radius: 10px;
  transition: 0.3s;
}
.btn-blue:hover {
  background-color: #062e99;
}
.btn-orange {
  background-color: #ff7424;
  border-radius: 10px;
  transition: 0.3s;
  border: none;
}
.btn-orange:hover {
  background-color: #c0591d;
  cursor: pointer;
}

.hero {
  background-image: url("../images/beach-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.hero-title {
  color: #fff;
  max-width: 600px;
}

.offer-image {
  min-width: 538px;
  margin-right: 1rem;
}
.offer-text {
  color: #5e5e5e;
}
.offer-text_wrapper {
  max-width: 600px;
}
.offer-text_orange {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #ff7424;
  margin-top: 0;
}
.offer-date {
  font-size: 1.5rem;
}
.offer-price {
  color: #ff7424;
  font-size: 2rem;
  margin: 0 2rem;
}

.newsletter {
  background-color: #0839bc;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}
.newsletter-title {
  margin: 0;
}
.newsletter-input {
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-right: 1rem;
  width: 100%;
  max-width: 250px;
  font-size: 1rem;
}

.selectDate {
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  padding: 5px 30px;
  position: relative;
}
.selectDate:hover {
  cursor: pointer;
}
.selectDate-calendar {
  width: 16px;
}
.selectDate-popup {
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.selectDate-month {
  display: flex;
  width: 100%;
  max-width: 120px;
}
.selectDate-month p {
  padding-right: 10px;
}
.selectDate-month_container {
  display: flex;
  justify-content: space-around;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.itinerary {
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
}

.header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-logo {
  margin: 0.5rem 0;
}

.nav-link-list {
  display: flex;
  list-style: none;
}

.nav-link {
  padding-left: 20px;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  transition: 0.3s;
}
.nav-link a:hover {
  color: #dfdfdf;
}

.nav-link_black {
  padding-left: 20px;
}

.nav-link_black a {
  color: black;
  text-decoration: none;
  font-size: 1.125rem;
  transition: 0.3s;
}
.nav-link_black a:hover {
  color: #333333;
}

/**HAMBURGER**/
#hamburger {
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 10%;
  display: none;
}

#hamburger div {
  background-color: black;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  cursor: pointer;
  margin: 5px 0;
}

/** Overlay for mobile menu **/
#overlay {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .nav-link-list {
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 60%;
    max-width: 225px;
    margin: 0;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 2;
    padding: 60px 0 0 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  .nav-link-list.open {
    transform: translateX(0%);
  }

  /** close menu **/
  #close-menu {
    margin-top: 20px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 3;
    transform: translateX(150%);
    transition: transform 0.3s ease-out;
  }

  #close-menu.open {
    transform: translateX(0%);
  }

  #close-menu div {
    background-color: black;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    cursor: pointer;
    margin: 5px 0;
  }

  #close-menu div:nth-child(1) {
    transform: translateY(12px) rotate(135deg);
  }

  #close-menu div:nth-child(2) {
    transform: translateY(2px) rotate(-135deg);
  }

  #hamburger {
    display: block;
  }
}
.footer {
  background-color: #f9f9f9;
  padding: 30px 0;
}
.footer-item {
  text-decoration: none;
  margin: 0 10px 0 0;
  color: #5e5e5e;
}
.footer-item_list {
  display: flex;
  flex-direction: column;
}

.calendar {
  display: flex;
  border: 1px solid black;
  width: fit-content;
  align-items: flex-start;
  background-color: white;
}
.calendar-arrows {
  width: 16px;
  margin: 20px 10px;
}
.calendar-single {
  padding: 10px;
}
.calendar-header {
  text-align: center;
}
.calendar-weekdays {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.calendar-weekdays p {
  text-align: center;
  width: 100%;
  margin: 0;
}
.calendar-day {
  border: 2px solid transparent;
}
.calendar-day_unactive {
  color: grey;
}
.calendar-day:hover {
  border: 2px solid blue;
  border-radius: 50%;
  cursor: pointer;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 28px);
  text-align: center;
  list-style: none;
  padding: 0;
}

.departureDate-active {
  background-color: blue;
  color: white;
  border-radius: 50%;
}

.arrivalDate-active {
  border: 2px solid blue;
  border-radius: 50%;
  cursor: pointer;
}

.inbetweenDate {
  background-color: #e8f0fe;
}

.selectAirport {
  width: 250px;
}

.findFlight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.findFlight-wrapper {
  max-width: 960px;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 15px;
  padding: 1rem 2rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/** PADDING **/
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pt-7 {
  padding-top: 12rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-7 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

/** MARGIN **/
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.my-7 {
  margin-top: 12rem !important;
  margin-bottom: 12rem !important;
}

/*# sourceMappingURL=main.css.map */
