@use "../variables/colors";

.btn {
  padding: 10px 25px;
  text-decoration: none;
  color: colors.$white !important;
  &-blue {
    color: colors.$white;
    background-color: colors.$blue;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      background-color: colors.$dark-blue;
    }
  }

  &-orange {
    background-color: colors.$orange;
    border-radius: 10px;
    transition: 0.3s;
    border: none;

    &:hover {
      background-color: colors.$dark-orange;
      cursor: pointer;
    }
  }
}
